name: Deploy Docker Website to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to EC2 via SSH
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd ~

            if [ ! -d "static-website" ]; then
              git clone https://github.com/Vyshnavipriya259/static-website.git
            fi

            cd static-website

            git fetch --all
            git reset --hard origin/main

            docker stop mycontainer || true
            docker rm mycontainer || true

            docker build -t mywebsite .
            docker run -d -p 80:80 --name mycontainer mywebsite
